apiVersion: v1
kind: Service
metadata:
  name: echo-sidecar
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: echo-sidecar
  ports:
    - name: http
      port: 8080
      targetPort: proxy-port
